.App {
  width: 100%;
  padding: 20px;
}

.carouselimg {
  height: '360px';
  color: '#fff';
  line-height: '160px';
  text-align: 'center';
  background: '#364d79',
}

.maincard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
}